* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    flex-wrap: nowrap;

    color: white;

    align-items: stretch;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.left {
    background-color: #3D309E;
    flex: 3;
    overflow: hidden;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: relative;


}

.right {
    background-color: #1F1F1F;
    color: #C8B7B7;
    flex: 7;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    position: relative;

    overflow-y: scroll;

    font-family: 'Poppins', Sans-serif;
}

.name {

    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: left;
    font-size: 1.5rem;

    position: relative;
 
    width: 100%;
    flex: 1;
}

.name h1 {
    left: 1.5rem;
    top: 2rem;
    position: relative;
}

.sabari-box {
    position: relative;

    width: 100%;
    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;

    z-index: 101;
    margin-top: 2rem;
}

img {
  max-width: 90%;
  max-height: 90%;

  height: auto;
  width: auto;

  object-fit: contain;
  z-index: 101;
}

/*
 * No Longer used 
 * .left-rectangle {
    z-index: 100;
    position: relative;
    top: -8rem;

    height: 80%;
    width: 80%;
}*/

.lines {
    position: absolute;

    z-index: 100;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    padding-top: 2px;

    top: 37%;
}

.left-line {
    z-index: 101;
    position: relative;

    min-height: 1.5rem;
    min-width: 60%;
    max-width: 70%;
    max-height: 2rem;
    height: 2rem;

    background-color: white;

    border-radius: 24px;
    border: none;

}

#l1 {
    
    top: -2%;
    left: 25%;
}

#l2 {

    top: 1%;
    left: 17%;
}

#l3 {
    
    top: 4%;
    left: 9%;
}


/*#r2 {
    width: 80%;
    height: 4rem;

    border-radius: 24px;
}*/ 

.where {
    position: fixed;
    font-family: 'Poppins', Sans-serif;
    top: 1rem;
    right: 1rem;

    z-index: 100;

    padding: 1rem;
    padding-right: 2rem;

    color: white;
    font-size: 1.2rem;
}

.who {
    flex: 1;

    padding: 5rem;
}

.who h2 {
    position: relative;
}

.who h4 {
    padding-top: 2rem;
}

.who p {
    padding-top: 2rem;
    max-width: 85%;
}

.who ul {
  margin-top: 1.5rem;
  gap: 5px;
  padding-left: 2rem;
  list-style-type: disc;
}

.who ul li {
  margin-bottom: 0.8rem;
  line-height: 1.6;
  font-size: 1.2rem;
}

.arrow {
    max-width: 100%;
    max-height: 2rem;
    object-fit: contain;
    gap: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: auto; /* This pushes it to the bottom */
    margin-bottom: 1rem; /* Optional: adds space from very bottom */ 
    /*animation: bounce 2s ease-in-out infinite;*/

}

.arrow img {
    object-fit: contain;
    padding: 0;

    animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
}

.nav-lines {
    position: fixed;
    z-index: 100;

    top: 50%;
    right: 10px;
    /*transform: translateY(-90%);*/

    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-right: 2rem;
}

.nav-lines hr {
    width: 36px;
    height: 6px;
    background-color: white;
    position: relative;
    border-radius: 12px;
    border: none;

    transition: all 0.2s ease;
}

.nav-lines hr:hover {
    width: 42px;
    height: 8px;
}

section {
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: left-align;

    flex: 1;
}

@media (max-width: 768px) {

  .collapse {
    max-width: 5%;
  }

  .expand {
      max-width: 60%;
  }

  .name{
      display: none;
  }

  .sabari-box {
      display: none;
  }

  .lines {
      display: none;
  }

}
