*{
  margin: 0px;
  padding: 5px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  color: white;
  text-align: center;

}

header span:hover{
  color: violet;
}

body {
  background-color: black;
  color: silver;
}

body header span h1 {

  text-align: center;
  
	position: centre;

	top: 35%;

	left: 20%;

	background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);

	background-size: 400%;

	font-size: 50px;

	font-family: sans-serif;

	letter-spacing: 10px;

	font-weight: 600;

	word-spacing: 5px;

	-webkit-text-fill-color: transparent;

	-webkit-background-clip: text;

	animation: animate 10s linear infinite;

}



@keyframes animate {

	0% {

		background-position: 0%;

	}



	100% {

		background-position: 400%;

	}

}


body ul {
  color: white;
}

body ul li:hover {
  color: orange;
}

body ul li a:hover {
  color: orange;
}

body header {
  color: white;
}

.navbar {
  color: white;
  display: flex;
  padding: 2px;
  justify-content: center;
  gap: 8rem;
}

.navbar li a {
  text-decoration: none;
  color: white;
}

#First {
  border: white;
  color: white;
  background-color: violet;
  margin: 20px;
}

#Skills {
  border: solid;
  padding: 30px;
  margin: 20px;
}

#About {
  border: solid;
  padding: 30px;
  margin: 20px;
}

#Download {
  border: solid;
  padding: 30px;
  margin: 20px;
}

#Contact {
  border: solid;
  padding: 30px;
  margin: 20px;
}

section h2:hover {
  color: violet;
}

#Skills:hover{
  border-color: orange;
  border-collapse: collapse;
}

footer {
  text-align-last: center;
}

footer:hover{
  color: violet;
}