<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Press+Start+2P&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Big Shoulders", sans-serif;
}

body {
  background-color: rgba(20, 20, 20, 1);
  color: rgba(180, 180, 180, 1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  position: relative;
}

header{
  padding-bottom: 40px;
}

.navigation-bar{
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px 0;
}

.navigation-bar a{
  text-decoration: none;
  color: rgba(180, 180, 180, 1);;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.navigation-bar a:hover{
  transform: scale(1.1);
  color: white;
}

main{
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#box1{
  border-top: solid 3px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  line-height: 1.6;
  width: clamp(250px, 80%, 800px);
}

#box2{
  border-top: solid 3px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  line-height: 1.6;
  width: clamp(250px, 80%, 800px);
  font-size: 24px;
}

#bigbox{
  font-size: 22px;
  line-height: 1.6;
  position: relative;
  border-top: solid 3px;
  padding-top: 30px;
  top: 20px;
  line-height: 1.6;
}

#projects{
  position: relative;
  bottom: 25px;
}

#projects h2{
  display: flex;
  align-content: center;
  justify-content: center;
}

#projects-box{
  border-top: none 3px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

#projects-box h3{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 10px
}

.project-2::{
  content: "";
  border-left: solid;
  padding: 5px;
}

.project-2::after{
  
}

footer{
  padding: 30px;
}

footer .footer-content{
  position: relative;
  top: 20px;
}

footer .footer-content p{
  color: white;
}

footer .footer-content p:hover{
  color: white;
}

.social-links{
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-content: center;
}

.social-links a img{
  width: 60px;
  height: 60px;
  position: relative;
  top: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}








